main {
    width: 90%;
    margin: 50px auto;
}

main>* {
    margin-bottom: 100px;
}

#intro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "title .."
        "text ..";
    padding: 10px;
}

#intro>h2 {
    grid-area: title;
}

#intro>p {
    grid-area: text;
}

#projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        ". title . ."
        ". text . ."
        "showcase showcase showcase showcase";
    padding: 10px;

}

#projects>h2 {
    grid-area: title;
}

#projects>p {
    grid-area: text;
}

#showcase {
    grid-area: showcase;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    padding: 10px;
    margin: auto;
}

#contact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        ". . title ."
        ". . button .";
    text-align: end;
}

#contact>h2 {
    grid-area: title;
}

#contact>button {
    grid-area: button;
    color: var(--link-color);
    font-size: 1.2rem;
    width: 40%;
    margin-left: 50%;
    padding: 40px 0;
}

@media (max-width: 1300px) {
    #intro {
        grid-template-areas:
            "title title."
            "text text.";
    }

    #projects {
        grid-template-areas:
            ". title title ."
            ". text text ."
            "showcase showcase showcase showcase";
    }

    #contact {
        grid-template-areas:
            ".  title title ."
            ". button button .";
    }
}

@media (max-width: 400px) {
    #intro {
        grid-template-areas:
            "title title title"
            "text text text";
    }

    #projects {
        grid-template-areas:
            "title title title title"
            "text text text text"
            "showcase showcase showcase showcase";
    }

    #contact {
        grid-template-areas:
            "title  title title title"
            "button button button button";
            text-align: center;
            font-size: .9rem;

    }

    #contact>button {
        width: 60%;
        margin-left: 30%;
        padding: 40px 0;
    }
}