section {
    background-color: #344966;
    max-width: 400px;
    min-width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100% - 40px);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .5s;
    position: relative;
}
section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom, var(--text-color), var(--background-color) 70%, var(--background-color)) 1;
}
section:hover {
    transform: scale(1.05);
}

h4 {
    font-size: 20px;
    height: 20px;
    padding: 10px;
    margin: 0 auto 20px auto;
}

p {
    margin: 0 auto 40px auto;
}

img {
    width: 90%;
    margin: auto auto 0;
}