@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --background-color: #0D1821;
    --text-color: #F0F4EF;
    --link-color: #B4CDED;
}
html {
    font-size: 20px;
    color: var(--text-color);
    letter-spacing: 1px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--background-color);
    font-family: "Roboto Mono", monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

a {
    color: var(--link-color);
}